.xo-footer__content-top {
  padding-bottom: 5rem;
  border-bottom: 0.1rem solid color(foreground, 0.15);
}

.xo-footer-block__heading {
  font-size: fz(body, 1.8);
  font-weight: 500;
  color: color(foreground);
  padding-bottom: 1rem;
}

.xo-footer-block__list {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  a {
    color: color(foreground, 0.75);
    transition: 0.3s;
  }
}

.xo-footer-block__list-item {
  padding: 0.5rem 0;
  &:hover {
    a {
      color: color(foreground, 1);
      text-decoration: underline;
    }
  }
}

.xo-footer-block__detail-content {
  padding-top: 1rem;
}

.xo-footer__field-input {
  display: flex;
  align-items: center;
  border: 0.1rem solid color(foreground, 0.7);
  padding: 1.2rem;

  .xo-field-input {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .xo-field-input__input {
    padding: 0;
  }
}

.xo-footer__field-button {
  padding: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.xo-footer__social {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.xo-footer__content-bottom {
  padding-top: 3rem;
}

.xo-footer__payment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.xo-list-payment {
  display: flex;
  list-style: none;
}

.xo-list-payment__item {
  padding: 0.5rem;
}

.xo-footer__copyright-content {
  a {
    color: color(foreground, 0.75);
    transition: 0.3s;
    &:hover {
      color: color(foreground);
      text-decoration: underline;
    }
  }
}
