.archive {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  background: $bgbgLight;
  border-radius: 5px;
  border: 1px solid $linesGrayLine;
  border-radius: 5px;
  padding: 30px 35px;
}
