.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav__list a {
  color: $textText;
  font-size: toRem(15);
  font-style: normal;
  font-weight: 500;
  line-height: toLineHeight(24, 15);
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
