.pagination {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 46px;
}

.pagination__num {
  display: inline-flex;
  gap: 15px;
  align-items: center;
  gap: 46px;
}

.pagination__num-active {
  padding: 13px 22px;
  text-align: center;
  font-size: toRem(14);
  font-style: normal;
  font-weight: 500;
  line-height: toLineHeight(14, 24);
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
