.post-left {
  display: inline-flex;
  flex-direction: column;
  gap: 50px 0;
  max-width: 835px;
}

.post-left__card {
  border-radius: 5px;
  border: 1px solid $linesGrayLine;
  background: white;
}

.post-left__content {
  width: 100%;
  padding: 25px 40px 30px;
}

.post-left__text {
  display: flex;
  justify-content: space-between;
}

.post-left__img {
  width: 100%;
  object-fit: contain;
}

.post-left__author {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.post-left__name {
  color: $textText;
  font-size: toRem(15);
  font-style: normal;
  font-weight: 500;
  line-height: toLineHeight(24, 15);
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.post-left__date {
  color: $textText;
  font-size: toRem(14);
  font-style: normal;
  font-weight: 500;
  line-height: toLineHeight(24, 14);
  letter-spacing: 0.4px;
}

.post-left__title {
  color: $textHeading;
  font-size: toRem(36);
  font-style: normal;
  font-weight: 500;
  line-height: toLineHeight(46, 36);
  letter-spacing: -1px;
  margin: 30px 0;
}

.post-left__desc {
  font-family: $fontDM;
  font-size: toRem(16);
  font-style: normal;
  font-weight: 400;
  line-height: toLineHeight(26, 16);
  padding-bottom: 40px;
}

