.custom-dropdown {
  position: relative;
  width: 200px;
  display: inline-block;
}

.selected-option,
.options {
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid $linesGrayLine;
  background: white;
}

.options {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  display: none;
  color: $textText;
  font-family: $fontDM;
  font-size: toRem(16);
  font-style: normal;
  font-weight: 400;
  line-height: toLineHeight(26, 16);
  animation: fadeInOut 0.3s ease;
}

.option {
  padding: 10px;
  transition: background-color 0.3s;
}

.arrow-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20px;
  cursor: pointer;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
