.sub {
  position: relative;
  width: 100%;
  padding: 100px;
  background-image: url("../../public/images/bg-sub-png.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.sub::before,
.sub::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; 
}

.sub__title {
  position: relative; /* Ensure the text is above the overlay elements */
  z-index: 1; /* Make sure the text is above the overlay elements */
  max-width: 170px;
  color: white;
  text-align: center;
  font-size: toRem(22);
  font-style: normal;
  font-weight: 400;
  line-height: toLineHeight(32, 22);
  letter-spacing: -1px;
}
