.tag {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  background: $bgbgLight;
  border-radius: 5px;
  border: 1px solid $linesGrayLine;
  border-radius: 5px;
  padding: 30px 35px;

}


.tag__list a {
  text-transform: lowercase;
  color:white;
  text-align: center;
  font-family: $fontDM;
  font-size: toRem(12);
  font-style: normal;
  font-weight: 400;
  line-height: toLineHeight(24,12);
  letter-spacing: -0.3px;
  padding: 0 5px;
  margin: 5px 0;
}
