.title {
  font-family: $fontPrimary;
  color: $textHeading;
  font-size: toRem(18);
  font-style: normal;
  font-weight: 500;
  line-height: toLineHeight(28, 18);
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
