@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --grid: 12;
  --grid-container-width: 1528px;
  --grid-container-gap: 15px;
  --grid-col-gap-vertical: 30px;
  --grid-col-gap-horizontal: 30px;
}

.container {
  max-width: var(--grid-container-width);
  margin: auto;
  padding-left: var(--grid-container-gap);
  padding-right: var(--grid-container-gap);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-col-gap-vertical) / -2);
  margin-right: calc(var(--grid-col-gap-vertical) / -2);
  margin-top: calc(var(--grid-col-gap-horizontal) * -1);
}

.col {
  width: calc(var(--col-xs) / var(--grid) * 100%);
  padding-left: calc(var(--grid-col-gap-vertical) / 2);
  padding-right: calc(var(--grid-col-gap-vertical) / 2);
  padding-top: var(--grid-col-gap-horizontal);
}

.flex-column {
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .col {
    width: calc(var(--col-sm) / var(--grid) * 100%);
  }
}
@media (min-width: 992px) {
  .col {
    width: calc(var(--col-md) / var(--grid) * 100%);
  }
}
@media (min-width: 1100px) {
  .col {
    width: calc(var(--col-lg) / var(--grid) * 100%);
  }
}
.header {
  background-color: #f7f5f1;
  font-family: "Outfit", sans-serif;
}

.header_container {
  padding-top: 16px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header__list {
  display: flex;
  width: 470px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header__list-item a {
  color: #7b88a8;
  position: relative;
  transition: all 0.3s ease;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.6;
}
.header__list-item a.active {
  color: #2d3958;
}
.header__list-item a.active::before {
  content: "";
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #34c635;
  border-radius: 50%;
}

.header__nav__list-item {
  position: relative;
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}

.header__search {
  padding: 3px 2.5px 2.042px 3px;
  cursor: pointer;
  margin-right: 20px;
}

.header__bag {
  padding: 2px 3px;
  position: relative;
  cursor: pointer;
}

.header__right div {
  position: relative;
}

.header__svg {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 2;
}

.banner {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #f7f5f1;
  padding-bottom: 393px;
}

.banner__content {
  margin-top: 136px;
  position: relative;
  z-index: 3;
}

.banner__content-title {
  max-width: 770px;
  flex-shrink: 0;
  color: #2d3958;
  text-align: center;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -2px;
}

.banner__content-description {
  width: 669.302px;
  height: 47.95px;
  flex-shrink: 0;
  color: #7b88a8;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
  padding: 45px 0 136px;
}

.banner__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.banner__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  z-index: 2;
  cursor: pointer;
}
.banner__button:hover {
  filter: drop-shadow(0px 5px 20px rgba(18, 2, 47, 0.15));
}

.banner__play-title {
  color: #2d3958;
  text-align: center;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.banner__play {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid transparent;
}

.banner__content-title span {
  background: linear-gradient(186deg, #61dcdf 0.38%, #886cff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -2px;
}

.banner__decor {
  position: absolute;
  z-index: 1;
}

.persons1 {
  top: 616px;
  right: 1085px;
}

.shape1 {
  top: 726px;
  right: 1265px;
}

.persons2 {
  top: 432px;
  right: 438px;
}

.shape2 {
  top: 562px;
  right: 648px;
}

.persons3 {
  top: 235.65px;
  right: 223px;
}

.shape3 {
  top: 325px;
  right: 153px;
}

.persons4 {
  top: 293px;
  right: 1431px;
}

.shape4 {
  top: 461px;
  right: 1341px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 0.2s ease;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  border-radius: 5px;
  line-height: 1.7;
}
.button:hover {
  background-color: #5899fd;
}

.button--primary {
  background-color: #4f77ff;
  color: white;
}

.button--primary-s {
  padding: 13px 24px;
}

.button--primary-sm {
  padding: 18px 32px;
}

.button--primary-block {
  padding: 18px 32px;
  display: inline-flex;
  font-size: 0.9375rem;
}

.service {
  font-family: "Outfit", sans-serif;
  background-color: #fff;
}

.service__container {
  --grid-container-width: 1240px;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  text-align: center;
}

.service__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.service__content-title {
  color: #2d3958;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -2px;
  max-width: 970px;
  z-index: 3;
}

.service__content-subtitle {
  color: #7b88a8;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
  max-width: 970px;
  height: auto;
}

.service__card {
  margin-top: 80px;
  margin-bottom: 70px;
  flex-shrink: 0;
  gap: 30px;
  justify-content: center;
  position: relative;
}

.service__card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 370px;
  height: 330px;
  border: 1px solid #e7e5ea;
}
.service__card-item:hover {
  box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
  cursor: pointer;
}

.service__card-img {
  width: 90px;
  height: 90px;
}

.service__card-title {
  color: #120f1f;
  text-align: center;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
  margin-top: 38px;
}

.service__card-subtitle {
  margin-top: 20px;
  width: 270px;
  height: auto;
  color: #7b88a8;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.service__shape {
  position: absolute;
  right: -3%;
  bottom: 0;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #e5e5e5;
  font-family: "Outfit", sans-serif;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  background: #FFF;
}

.ml-30 {
  margin-left: 30px;
}

.mb-10 {
  margin-top: 20px;
}

.logos {
  width: 100%;
  flex-shrink: 0;
  padding-bottom: 120px;
  background-color: #fff;
}

.logos__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 76px;
}

.logos__title {
  max-width: 793px;
  color: #000;
  text-align: center;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-top: 120px;
}

.logos__list {
  text-align: center;
}

.items {
  background-color: #fff;
  padding-bottom: 120px;
}

.items__container {
  --grid-container-width: 1300px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  background-color: #f7f5f1;
  padding: 100px 65px;
  border-radius: 10px;
}

.items__title {
  max-width: 370px;
  flex-shrink: 0;
  color: #2d3958;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1px;
}

.items__card {
  gap: 0 30px;
  align-items: center;
}

.items__content {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  max-width: 270px;
}
.items__content h4 {
  color: #2d3958;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.items__text {
  color: #7b88a8;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.items__icon {
  object-fit: contain;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  background-color: #886cff;
  border-radius: 50%;
  text-align: center;
  position: relative;
}
.items__icon img {
  position: absolute;
  inset: 30%;
}

.gallery {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 130px;
}

.gallery__container {
  align-items: center;
  justify-content: flex-start;
  gap: 130px;
}

.gallery__relative {
  position: relative;
  margin-bottom: 41px;
}

.gallery__shape {
  position: absolute;
  bottom: 1%;
  left: -71px;
}

.gallery__img {
  max-width: 670px;
  object-fit: contain;
}

.gallery__flex {
  width: 670px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery__left-title {
  width: 434px;
  flex-shrink: 0;
}
.gallery__left-title h4 {
  color: #2d3958;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
}

.gallery__price {
  color: #7b88a8;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
}

.gallery__description {
  max-width: 570px;
}
.gallery__description p {
  margin-top: 25px;
  color: #7b88a8;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.gallery__right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 100px;
}

.gallery__right-title {
  max-width: 370px;
  flex-shrink: 0;
}
.gallery__right-title h3 {
  color: #2d3958;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.84px;
}

.gallery__right-description {
  max-width: 370px;
  flex-shrink: 0;
  margin-top: 40px;
}
.gallery__right-description p {
  color: #788190;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.gallery__right__link {
  margin-top: 60px;
  display: flex;
  max-width: 177px;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: 10px;
  transition: 0.2s ease;
}
.gallery__right__link h4 {
  height: 18px;
  flex-shrink: 0;
  color: #886cff;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.gallery__button {
  display: flex;
  align-items: center;
  gap: 15px;
}

.gallery__button-left,
.gallery__button-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #e7e5ea;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gallery__button-left:hover,
.gallery__button-right:hover {
  stroke-width: 1px;
  border: transparent;
  fill: #fff;
  box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
}

.about {
  background-color: #f7f5f1;
  padding-bottom: 120px;
}

.about__container {
  position: relative;
  --grid-container-width: 1260px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.about__shape6 {
  position: absolute;
  top: 530px;
  right: 45%;
}

.about__title {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  max-width: 870px;
  margin-top: 110px;
  position: relative;
  z-index: 4;
}

.about__title h2 {
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -2px;
  color: #2d3958;
}

.about__title-gradient span {
  background: linear-gradient(186deg, #61dcdf 0.38%, #886cff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__description {
  margin-bottom: 80px;
  width: 100%;
  color: #7b88a8;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.about__banner {
  margin-top: 250px;
  position: relative;
}

.about__small-banner {
  position: absolute;
  right: 99px;
  bottom: 380px;
  z-index: 2;
}

.about__large-banner {
  margin-left: 299px;
}

.about__shape {
  position: absolute;
  bottom: 1%;
  margin-left: 7px;
}

.about__box {
  position: absolute;
  text-align: center;
  top: 33.1%;
  z-index: 5;
  left: 3.5%;
  max-width: 570px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 60px 40px 0px rgba(18, 2, 47, 0.1);
  padding: 60px 100px 40px 100px;
}

.about__content {
  max-width: 370px;
  flex-shrink: 0;
}

.about__content-head {
  color: #4f77ff;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.about__content-title {
  margin: 30px 0;
  width: 370px;
  color: #2d3958;
  font-family: Outfit;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.875rem;
  letter-spacing: -1px;
}

.about__content-description {
  width: 370px;
  color: #7b88a8;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
  margin-bottom: 40px;
}

.about__arrow-title {
  color: #7b88a8;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.about__arrow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 55px;
}

.about__indicator {
  width: 100%;
  display: flex;
  justify-content: center;
}

.portfolio {
  background-color: #fff;
  position: relative;
  padding: 120px;
}

.portfolio__container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__inside {
  margin-top: 120px;
  max-width: 1260px;
  max-height: 1485px;
  margin-bottom: 120px;
  position: relative;
  z-index: 2;
}

.portfolio__title {
  max-width: 970px;
  max-height: 89px;
  color: #2d3958;
  text-align: center;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.84px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio__title span {
  background: linear-gradient(186deg, #61dcdf 0.38%, #886cff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.84px;
}

.portfolio__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 29px 0;
}

.portfolio__flex-top {
  gap: 0 30px;
  margin-bottom: 50px;
}

.portfolio__card-title {
  color: #4f77ff;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
}

.portfolio__img1,
.portfolio__img4 {
  max-width: 670px;
  max-height: 570px;
}

.portfolio__img2,
.portfolio__img3 {
  max-width: 470px;
  max-height: 570px;
}

.portfolio__flex-bottom {
  display: flex;
  justify-content: flex-start;
  gap: 0 30px;
}

.portfolio__shape {
  position: absolute;
  left: 14.7916666667%;
  top: 46.3541666667%;
}

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: #fff;
}

.container-price {
  max-width: 1170px;
  margin: 0 auto;
}

.pricing__shape {
  position: absolute;
  z-index: 2;
  top: 428px;
  right: 293px;
}

.pricing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: #f7f5f1;
  z-index: 1;
}

.pricing__top {
  z-index: 2;
  margin-top: 120px;
  margin-bottom: 100px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.pricing__title {
  color: #2d3958;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -2px;
}

.pricing__tag {
  z-index: 2;
  gap: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.pricing__monthly,
.pricing__yearly {
  color: #7b88a8;
  text-align: right;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.pricing__month {
  display: inline-flex;
  gap: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.toggle__button {
  display: inline-block;
  background-color: #e7e5ea;
  width: 72px;
  height: 33px;
  position: relative;
  border-radius: 16.5px;
  cursor: pointer;
}

.toggle__button:before {
  position: absolute;
  content: "";
  background-color: #34c635;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 4.5px;
  transition: 0.2s ease-in-out;
}

input:checked + .toggle__button:before {
  transform: translateX(150%);
}

#pricing__checkbox {
  display: none;
}

.pricing__year {
  display: flex;
  gap: 0 20px;
}

.pricing__save {
  background-color: #34c635;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.3px;
  border-radius: 5px;
  padding: 4px 12px;
}

.pricing__tables {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 145px;
  z-index: 3;
}

.pricing__table1,
.pricing__table2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 570px;
  border-radius: 10px;
  border: 1px solid #e7e5ea;
  background-color: #fff;
}

.pricing__table1-price {
  max-width: 323px;
  max-height: 175px;
  margin-top: 35px;
  margin-bottom: 41px;
}

.pricing__starter {
  color: #4f77ff;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
  margin-bottom: 20px;
}

.pricing__permonth {
  color: #2d3958;
  text-align: center;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: 10px;
}
.pricing__permonth span {
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.5rem;
  letter-spacing: -2px;
}

.pricing__peruser {
  color: #696871;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.pricing__list {
  display: inline-flex;
  flex-direction: column;
  margin-right: 80px;
  gap: 15px 0;
  margin-bottom: 76px;
}

.pricing__item {
  display: inline-flex;
  gap: 0 12px;
}
.pricing__item img {
  object-fit: contain;
}
.pricing__item h3 {
  color: #2d3958;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
}

.pricing__footer {
  width: 100%;
  line-height: 1.6;
}
.pricing__footer .button {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  padding-bottom: 120px;
}

.cta__container {
  --grid-container-width: 870px;
  margin: 0 auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cta__title {
  color: #2d3958;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -2px;
}

.cta__title span {
  background: linear-gradient(186deg, #61dcdf 0.38%, #886cff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta__description {
  color: #7b88a8;
  text-align: center;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
  margin-bottom: 90px;
}

.review {
  padding-top: 113px;
  width: 100%;
  font-family: "Outfit", sans-serif;
  background-color: #f7f5f1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 120px;
  text-align: center;
}

.review__shape {
  position: absolute;
  top: 74%;
  left: 15%;
  z-index: 1;
}

.review__head {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 30px 0;
  margin-bottom: 80px;
}

.review__title {
  color: #2d3958;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -2px;
}

.review__subtitle {
  color: #7b88a8;
  text-align: center;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
}

.review__cards {
  justify-content: center;
  gap: 30px;
  position: relative;
  z-index: 3;
}

.review__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 370px;
  max-height: 350px;
  border-radius: 20px;
  background: #fff;
  padding: 35px 35px 45px 35px;
}

.review__user {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 5px 0;
  margin-bottom: 20px;
}

.review__name {
  color: #2d3958;
  text-align: center;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
}

.review__major {
  color: #7b88a8;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.review__star {
  margin-bottom: 30px;
}

.review__content {
  max-width: 300px;
  max-height: 77px;
  color: #7b88a8;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.footer {
  width: 100%;
  display: inline-block;
  background: #292F3A;
  font-family: "Outfit", sans-serif;
  color: #fff;
}

.footer__container {
  --gird-container-width: 1200px;
  margin: 100px auto 100px;
  display: flex;
  justify-content: space-between;
  gap: 0 30px;
}

.footer__list {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px 0;
}

.footer__newsletter {
  max-width: 370px;
}

.footer__heading {
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.footer__item {
  color: #e7e5ea;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.footer__subscrie {
  padding-top: 20px;
  color: #7b88a8;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
}

.footer__submit {
  margin-top: 25px;
  display: inline-flex;
  gap: 0 6px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer__submit-input {
  padding: 11px 0 11px 18px;
  border: transparent;
  outline: none;
  border-radius: 5px;
  background: #e7e5ea;
  width: 120%;
}

.footer__submit-input::placeholder {
  color: #7b88a8;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.footer__submit-button {
  padding: 10px 24px;
  gap: 0 10px;
}

.footer__hr {
  width: 1170px;
  height: 1px;
  flex-shrink: 0;
  opacity: 0.3;
  margin: 0 auto 40px;
  background: #7b88a8;
}

.footer__copyright {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 40px;
}

.footer__icon {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
