.category .flex {
  margin: 25px 0;
  cursor: pointer;
}

.category__dropdown {
  padding-left: 25px;
  cursor: pointer;
  display: none; 
}


.category__name {
  color: $textHeading;
  font-family: $fontDM;
  font-size: toRem(14);
  font-style: normal;
  font-weight: 400;
  line-height: toLineHeight(24, 14);
  letter-spacing: -0.3px;
}
