.cta {
  background-image: url("../images/BG-cta.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  margin: 0 auto;
}

.cta__main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 970px;
  margin: 0 auto;
}


.cta__main-title {
  color: $textHeading;
  text-align: center;
  font-size: toRem(48);
  font-style: normal;
  font-weight: 500;
  line-height: toLineHeight(56, 48); /* 116.667% */
  letter-spacing: -2px;
}

.cta__main-desc {
  color: $textText;
  text-align: center;
  font-size: toRem(22);
  font-style: normal;
  font-weight: 400;
  line-height: toLineHeight(32, 22); /* 145.455% */
  letter-spacing: -1px;
}

.cta__main-button {
  text-align: center;
  padding-top: 47px;
}
