.dropdown {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  padding: 10px 0;
}

.dropdown__name {
  color: $textHeading;
  font-family: $fontDM;
  font-size: toRem(14);
  font-style: normal;
  font-weight: 400;
  line-height: toLineHeight(24, 14); /* 171.429% */
  letter-spacing: -0.3px;
}

.dropdown__check {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.dropdown__input {
  display: none;
}

/* Style for the custom checkbox */
.dropdown__custom {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.checkbox__icon {
  display: none;
  width: 100%;
  height: 100%;
  background: url("#{$images-path}/check-icon.svg") center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.dropdown__input:checked + .dropdown__custom .checkbox__icon {
  background-color: $bgDarkBg;
  display: block;
}
