.newsletter {
  display: flex;
  flex-direction: column;
}

.newsletter__heading {
  color: #fff;
  font-size: toRem(22);
  font-style: normal;
  font-weight: 400;
  line-height: toLineHeight(32, 22); /* 145.455% */
  letter-spacing: -1px;
}

.newsletter__text,.newsletter__below {
  color: $linesGrayLine;
  font-family: $fontDM;
  font-size: toRem(16);
  font-style: normal;
  font-weight: 400;
  line-height: toLineHeight(26, 16); /* 162.5% */
  padding: 20px 0 25px;
}

.newsletter__submit {
  display: flex;
  align-items: center;
  gap: 5px;
}

.newsletter__submit-input {
  padding: 16px;
  border: 0;
  outline: none;
  border-radius: 5px;
  background: $linesGrayLine;
}

.newsletter__submit-input::placeholder {
  padding: 11px 18px;
  color: var(--text-text, #7b88a8);
  font-family: $fontDM;
  font-size: toRem(16);
  font-style: normal;
  font-weight: 400;
  line-height: toLineHeight(26, 16); /* 162.5% */
}

.newsletter__below{
    padding-top: 15px;
}