#slider {
  width: 100%;

}

.range {
  margin-top: 40px;
}

.range__min,
.range__max,
.range__value {
  color: $textHeading;
  font-size: toRem(14);
  font-style: normal;
  font-weight: 400;
  line-height: toLineHeight(24, 14);
  letter-spacing: -0.3px;
}

.range__value {
  color: $textText;
  text-transform: uppercase;
}

.range__filter {
  color: $actionBlue;
  text-transform: uppercase;
}

.range__footer {
  margin-top: 20px;
  align-items: center;
}
