.menu-header-v23__link {
  display: block;
  text-align: center;
  font-size: fz(body, 1.6);
  color: rgb(var(--color-foreground));
  padding-bottom: 1rem;
  margin-bottom: 1.4rem;
  margin-top: 1.5rem;
}

.container-header-v23 {
  max-width: 117rem;
  margin: 0 auto;
}

.menu-header-v23__heading {
  text-transform: uppercase;
  font-size: fz(heading, 1.5);
  padding-bottom: 1rem;
  margin-bottom: 1.4rem;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  &::after {
    position: absolute;
    background-color: rgb(var(--color-accent));
    bottom: 0.1rem;
    width: 4rem;
    height: 0.1rem;
    content: '';
    left: 0;
  }
  &:hover:not(.menu-header-v23__heading--nohover) {
    color: color(accent);
  }
}

.menu-header-v23__heading--nohover {
  cursor: text;
}

.menu-header-v23__item {
  list-style: none;
  padding: 0.25rem 0;
  a {
    font-size: fz(body, 1.5);
    line-height: lh(heading, 0.6);
    color: rgba(var(--color-foreground), 0.6);
    transition: 0.3s ease;
    font-weight: 500;
    &:hover {
      color: rgb(var(--color-accent));
    }
  }
}

.menu-header-v23__list-item {
  padding: 0;
}

.xo-menu-hamburger-style8__mega-menu .mega-menu-v23-blog {
  display: none;
}

.menu-header-v23__list-item {
  margin-bottom: 1.5rem;
}
