[class*="xo-line-"] {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.xo-line-1 {
  -webkit-line-clamp: 1;
}

.xo-line-2 {
  -webkit-line-clamp: 2;
}

.xo-line-3 {
  -webkit-line-clamp: 3;
}

.xo-line-4 {
  -webkit-line-clamp: 4;
}
