{{ 'field-input.css' | asset_url | stylesheet_tag }}
{{ 'section-main-reset-password.css' | asset_url | stylesheet_tag }}

<section {% render 'section-attr' %}>
  <xo-container>
    <xo-grid>
      <div class='xo-reset-pass' style='--xs: 12'>
        {%- form 'reset_customer_password' -%}
          {% render 'form-error', form: form %}
          <xo-grid style='--xs: 1'>
            <xo-animate xo-cascade>
              {% assign password_label = 'customer.reset_password.password' | t %}
              {% render 'field-input', type: 'password', name: 'customer[password]', label: password_label %}
            </xo-animate>
            <xo-animate xo-cascade>
              {% assign password_confirm_label = 'customer.reset_password.password_confirm' | t %}
              {% render 'field-input', type: 'password', name: 'customer[password_confirmation]', label: password_confirm_label %}
            </xo-animate>
          </xo-grid>
          {% render 'space', value: '20px' %}
          <xo-animate xo-cascade>
            {% assign label = 'customer.reset_password.submit' | t %}
            {% render 'button', text: label, size: 'md', type: 'submit', block: true, effect: 'fade' %}
          </xo-animate>
        {%- endform -%}
      </div>
    </xo-grid>
  </xo-container>
</section>
