.xo-cta {
  margin-top: 10rem;
}

.xo-cta__content {
  min-height: 60rem;
}

.xo-cta__title {
  padding-top: 10rem;
  font-size: fz(heading, 6);
  line-height: lh(heading, 0.16);
  letter-spacing: ls(heading, -0.06);
}

.xo-cta__description {
  padding-top: 2.2rem;
  font-size: fz(body, 1.6);
  line-height: lh(body, 0.68);
  letter-spacing: ls(body, 0.016);
}

.xo-cta__button {
  margin-top: 5.7rem;
}