.mb-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-top: 20px;
}

.gap-20{
  gap: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.text {
  font-family: $fontPrimary;
  font-size: toRem(15);
  line-height: toLineHeight(24, 15); /* 160% */
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.text--primary {
  color: $textText;
}

.text--secondary {
  color: $textHeading;
}

.text--size-14 {
  font-size: toRem(14);
  line-height: toLineHeight(24, 14);
  font-family: $fontDM;
}

.text--size-16 {
  font-size: toRem(16);
  font-family: $fontDM;
  font-style: normal;
  line-height: toLineHeight(26, 16); /* 162.5% */
}

.text--opacity {
  opacity: 0.7;
}

.text--size-18 {
  font-size: toRem(18);
  line-height: toLineHeight(28, 18);
  letter-spacing: 0.4px;
}

.text--size-48 {
  font-size: toRem(48);
  line-height: toLineHeight(56, 46);
  letter-spacing: 0.4px;
  letter-spacing: -2px;
}
