.flex {
  display: flex;
}

.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.flwrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.gap-5 {
  gap: 0.5rem;
}

.gap-10 {
  gap: 1rem;
}

.gap-15 {
  gap: 1.5rem;
}

.gap-20 {
  gap: 2rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.full-width {
  display: block;
  width: 100%;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mt-10 {
  margin-top: 1rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-30 {
  margin-top: 3rem;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.t-0 {
  top: 0;
}

.b-0 {
  bottom: 0;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}
