.xo-share {
  display: flex;
  gap: 1rem;
}

.xo-share__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
  color: rgba(var(--color-foreground));
  cursor: pointer;
  transition: 0.3s;
  @include media('>sm') {
    width: 3.4rem;
    height: 3.4rem;
  }
}
