.xo-product-info-media {
  position: relative;
}

.xo-product-info-media__image {
  position: relative;
}

.xo-product-info-media__icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
  border: 0.1rem solid rgba(var(--color-border), 0.1);
}

.xo-product-info-media__thumbnails {
  margin-top: 1.3rem;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.xo-product-info-media__thumb-slide {
  transition: 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

.xo-product-info-media__thumb-slide[xo-active]:not([xo-active='false']) {
  opacity: 0.6;
}

