.xo-field-textarea {
  position: relative;
  width: 100%;
  display: block;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.15);
  margin-bottom: 2rem;
}

.xo-field-textarea__textarea {
  padding: 1rem 0;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  resize: vertical;
}

.xo-field-textarea__placeholder {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s;
  transform-origin: 0 0;
  color: rgba(var(--color-foreground), 0.4);
}

.xo-field-textarea__textarea {
  &:focus,
  &:not(:placeholder-shown) {
    & + .xo-field-textarea__placeholder {
      transform: translateY(-15px) scale(0.7);
    }
  }
}
