.desc__heading {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-bottom: 30px;
}

.desc__heading-title {
  color: $textHeading;
  font-size: toRem(18);
  font-style: normal;
  font-weight: 500;
  line-height: toLineHeight(28, 18); /* 155.556% */
  letter-spacing: 0.4px;
  position: relative;
  &.active {
    &::before {
      content: "";
      position: absolute;
      top: -40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background-color: $actionGreen;
      border-radius: 50%;
    }
  }
}

.desc__text {
  padding: 40px 0 60px;
  border-top: 1px solid $linesGrayLine;
  border-bottom: 1px solid $linesGrayLine;
  color: $textText;
font-family: $fontDM;
font-size: toRem(16);
font-style: normal;
font-weight: 400;
line-height: toLineHeight(26,16); /* 162.5% */
}

