.container {
  max-width: 1200px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: var(--grid-container-gap);
  padding-right: var(--grid-container-gap);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
  align-items: center;
}

// .grid {
//   display: grid;
//   column-gap: 40px;
//   row-gap: 30px;
// }

// .grid-col-3 {
//   grid-template-columns: repeat(3, 1fr);
// }

.gap-30 {
  gap: 30px;
}
.gap-20 {
  gap: 20px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-60 {
  gap: 60px;
}

.ml-auto {
  margin-left: auto;
}

.pl-auto {
  padding-left: auto;
}
.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
