<style type='text/css'>
  .password-logo {
    width: {{ section.settings.logo_width }}px !important;
  }
</style>
{{ 'section-main-password-header.css' | asset_url | stylesheet_tag }}
<div {% render 'section-attr' %}>
  <xo-container class='password-header-color'>
    <div class='password-header'>
      <a href='/'>
        {%- if section.settings.logo != blank -%}
          {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
          {%- assign logo_height = section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio -%}
          {{
            section.settings.logo
            | image_url: width: section.settings.logo.width
            | image_tag: class: 'password-logo', widths: '50, 100, 150, 200, 250, 300, 400, 500', width: section.settings.logo_max_width, height: logo_height, alt: logo_alt
          }}
        {%- else -%}
          <h2 class='h2 password-logo__title'>{{ shop.name }}</h2>
        {%- endif -%}
      </a>
      <div class='password__list-social' role='list'>
        {% render 'socials' %}
      </div>
    </div>
  </xo-container>
</div>
