.password-header-color {
  background: color(background);

  .password-logo__title {
    color: color(foreground);
    text-decoration: none;
  }

  .password-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
      text-decoration: none;
    }
  }

  .password-logo {
    margin-bottom: 0;
  }

  .password-logo {
    width: 12rem;
    height: auto;
    object-fit: contain;
  }
}
