@function toRem($value) {
  $remValue: ($value / 16) * 1rem;
  @return $remValue;
}

.about {
  background-color: $bgColor;
  padding-bottom: 120px;
}

.about__container {
  position: relative;
  --grid-container-width: 1260px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.about__shape6 {
  position: absolute;
  top: 530px;
  right: 45%;
}

.about__title {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  max-width: 870px;
  margin-top: 110px;
  position: relative;
  z-index: 4;
}

.about__title h2 {
  text-align: center;
  font-size: toRem(48);
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -2px;
  color: $textHeading;
}

.about__title-gradient span{
  background: $bgPurpleGradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__description {
  margin-bottom: 80px;
  width: 100%;
  color: $textText;
  text-align: center;
  font-family: $fontDM;
  font-size: toRem(18);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.about__banner {
  margin-top: 250px;
  position: relative;
}

.about__small-banner {
  position: absolute;
  right: 99px;
  bottom: 380px;
  z-index: 2;
}

.about__large-banner {
  margin-left: 299px;
}

.about__shape {
  position: absolute;
  bottom: 1%;
  margin-left: 7px;
}

.about__box {
  position: absolute;
  text-align: center;
  top: 33.1%;
  z-index: 5;
  left: 3.5%;
  max-width: 570px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 60px 40px 0px rgba(18, 2, 47, 0.1);
  padding: 60px 100px 0 100px;
}

.about__content {
  max-width: 370px;
  flex-shrink: 0;
}

.about__content-head {
  color: $actionBlue;
  font-family: $fontDM;
  font-size: toRem(18);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.about__content-title {
  margin: 30px 0;
  width: 370px;
  color: $textHeading;
  font-family: Outfit;
  font-size: toRem(36);
  font-style: normal;
  font-weight: 500;
  line-height: toRem(46);
  letter-spacing: -1px;
}

.about__content-description {
  width: 370px;
  color: $textText;
  font-family: $fontDM;
  font-size: toRem(18);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
  margin-bottom: 40px;
}

.about__arrow-title {
  color: $textText;
  font-size: toRem(14);
  font-style: normal;
  font-weight: 500;
  line-height: toRem(24);
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.about__arrow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 55px;
}

.about__indicator {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
