.button {
  position: relative;
  z-index: 2;
  border-radius: 5px;
  background-color: $actionBlue;
  color: #fff;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  transition:0.2s ease;
  &:hover{
    background-color: #1344e8;
  }
}
