
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 0.2s ease;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  border-radius: 5px;
  line-height: 1.7;

  &:hover {
    background-color: #5899fd;
  }
}

.button--primary {
  background-color: $actionBlue;
  color: white;
}

.button--primary-s {
  padding: 13px 24px;
}

.button--primary-sm {
  padding: 18px 32px;
}

.button--primary-block {
  padding: 18px 32px;
  display: inline-flex;
  font-size: toRem(15);
}
