@function toRem($value) {
  $remValue: ($value / 16) * 1rem;
  @return $remValue;
}

.gallery {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 130px;
}

.gallery__container {
  align-items: center;
  justify-content: flex-start;
  gap: 130px;
}

.gallery__relative {
  position: relative;
  margin-bottom: 41px;
}

.gallery__shape {
  position: absolute;
  bottom: 0;
  left: -91px;
}

.gallery__img {
  max-width: 670px;
  object-fit: contain;
}

.gallery__flex {
  width: 670px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery__left-title {
  width: 434px;
  flex-shrink: 0;

  h4 {
    color: $textHeading;
    font-size: toRem(22);
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -1px;
  }
}

.gallery__price {
  color: $textText;
  font-size: toRem(22);
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
}

.gallery__description {
  max-width: 570px;
  p {
    margin-top: 25px;
    color: $textText;
    font-family: $fontDM;
    font-size: toRem(18);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.3px;
  }
}

.gallery__right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 100px;
}

.gallery__right-title {
  max-width: 370px;
  flex-shrink: 0;

  h3 {
    color: $textHeading;
    font-size: toRem(42);
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.84px;
  }
}

.gallery__right-description {
  max-width: 370px;
  flex-shrink: 0;
  margin-top: 40px;

  p {
    color: #788190;
    font-family: $fontDM;
    font-size: toRem(18);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.3px;
  }
}

.gallery__right__link {
  margin-top: 60px;
  display: flex;
  max-width: 177px;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: 10px;
  transition: 0.2s ease;
  h4 {
    height: 18px;
    flex-shrink: 0;
    color: $actionPurple;
    font-size: toRem(15);
    font-style: normal;
    font-weight: 500;
    line-height:1.6;
    letter-spacing: -0.3px;
    text-transform: uppercase;
  }
}

.gallery__button {
  display: flex;
  align-items: center;
  gap: 15px;
}

.gallery__button-left,
.gallery__button-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid $linesGrayLine;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gallery__button-left:hover,
.gallery__button-right:hover {
  stroke-width: 1px;
  border: transparent;
  fill: #fff;
  box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
}
