@function toRem($value) {
  $remValue: ($value / 16) * 1rem;
  @return $remValue;
}

.items {
  background-color: #fff;
  padding-bottom: 120px;
}

.items__container {
  --grid-container-width: 1300px;
  justify-content: space-between;
  margin: 0 auto;
  // gap: 20px 0;
  align-items: center;
  background-color:$bgColor;
  padding: 100px 65px;
  border-radius: 10px;
}

.items__title {
  max-width: 370px;
  flex-shrink: 0;
  color: $textHeading;
  font-size: toRem(36);
  font-weight: 500;
  line-height: toRem(46);
  letter-spacing: -1px;
}


.items__card{
  gap: 0 30px;
  align-items: center;
}

.items__content {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  max-width: 270px;

  h4 {
    color: $textHeading;
    font-size: toRem(18);
    font-style: normal;
    font-weight: 500;
    line-height: toRem(28);
    letter-spacing: 0.4px;
  }
}

.items__text {
  color: $textText;
  font-family: $fontDM;
  font-size: toRem(16);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(26);
}

.items__icon {
  object-fit: contain;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  background-color: $actionPurple;
  border-radius: 50%;
  text-align: center;
  position: relative;
  img {
    position: absolute;
    inset: 30%;
  }
}

