@function toRem($value) {
  $remValue: ($value / 16) * 1rem;
  @return $remValue;
}

.logos {
  width: 100%;
  flex-shrink: 0;
  padding-bottom: 120px;
  background-color: #fff;
}

.logos__inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 76px;
}

.logos__title {
  max-width: 793px;
  color: #000;
  text-align: center;
  font-size: toRem(36);
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-top: 120px;
}

.logos__list{
  text-align: center;
}