@function toRem($value) {
  $remValue: ($value / 16) * 1rem;
  @return $remValue;
}

.portfolio {
  width: 100%;
  background-color: #fff;
  display: inline-block;
  display: flex;
  justify-content: center;
  position: relative;
}

.portfolio__shape{
  position: absolute;
  left: 284px;
  top: 799px;
}

.portfolio__inside {
  margin-top: 120px;
  max-width: 1260px;
  max-height: 1485px;
  margin-bottom: 120px;
}

.portfolio__title {
  max-width: 970px;
  max-height: 89px;
  color: $textHeading;
  text-align: center;
  font-size: toRem(42);
  font-style: normal;
  font-weight: 500;
  line-height: toRem(50);
  letter-spacing: -0.84px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio__gradient {
  background: $bgPurpleGradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -0.84px;
}

.portfolio__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 29px 0;
}

.portfolio__flex-top {
  display: flex;
  justify-content: flex-start;
  gap: 0 30px;
  margin-bottom: 50px;
}

.portfolio__card-title {
  color: $actionBlue;
  font-size: toRem(22);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(32);
  letter-spacing: -1px;
}

.portfolio__img1,
.portfolio__img4 {
  max-width: 670px;
  max-height: 570px;
}

.portfolio__img2,
.portfolio__img3 {
  max-width: 470px;
  max-height: 570px;
}

.portfolio__flex-bottom {
  display: flex;
  justify-content: flex-start;
  gap: 0 30px;
}
