@function toRem($value) {
  $remValue: ($value / 16) * 1rem;
  @return $remValue;
}

.pricing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.pricing__shape {
  position: absolute;
  z-index: 2;
  top: 464px;
  right: 293px;
}

.pricing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: $bgColor;
  z-index: 1;
}

.pricing__top {
  z-index: 2;
  margin-top: 120px;
  margin-bottom: 100px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.pricing__title {
  color: $textHeading;
  text-align: center;
  font-size: toRem(48);
  font-style: normal;
  font-weight: 500;
  line-height: toRem(56);
  letter-spacing: -2px;
}

.pricing__tag {
  z-index: 2;
  max-width: 323px;
  max-height: 33px;
  gap: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.pricing__monthly,
.pricing__yearly {
  color: $textText;
  text-align: right;
  font-family: $fontDM;
  font-size: toRem(18);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(28);
  letter-spacing: -0.3px;
}

.pricing__month {
  display: inline-flex;
  gap: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.toggle__button {
  display: inline-block;
  background-color: #e7e5ea;
  width: 72px;
  height: 33px;
  position: relative;
  border-radius: 16.5px;
  cursor: pointer;
}

.toggle__button:before {
  position: absolute;
  content: "";
  background-color: $actionGreen;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 5px;
  transition: 0.2s ease-in-out;
}

input:checked + .toggle__button:before {
  transform: translateX(140%);
}

#pricing__checkbox {
  display: none;
}

.pricing__year {
  display: flex;
  gap: 0 20px;
}

.pricing__save {
  background-color: $actionGreen;
  color: #fff;
  font-family: $fontDM;
  font-size: toRem(14);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(24);
  letter-spacing: -0.3px;
  border-radius: 5px;
  padding: 4px 12px;
}

.pricing__tables {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
  margin-bottom: 145px;
  z-index: 3;
}

.pricing__table1,
.pricing__table2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 570px;
  height: 584px;
  border-radius: 10px;
  border: 1px solid $linesGrayLine;
  background-color: #fff;
}

.pricing__table1-price {
  max-width: 323px;
  max-height: 175px;
  margin-top: 35px;
  margin-bottom: 41px;
}

.pricing__starter {
  color: $actionBlue;
  text-align: center;
  font-size: toRem(18);
  font-style: normal;
  font-weight: 500;
  line-height: toRem(28);
  letter-spacing: 0.4px;
  margin-bottom: 20px;
}

.pricing__permonth {
  color: $textHeading;
  text-align: center;
  font-size: toRem(36);
  font-style: normal;
  font-weight: 500;
  line-height: toRem(46);
  letter-spacing: -1px;
  margin-bottom: 10px;

  span {
    font-size: toRem(64);
    font-style: normal;
    font-weight: 500;
    line-height: toRem(72);
    letter-spacing: -2px;
  }
}

.pricing__peruser {
  color: #696871;
  text-align: center;
  font-family: $fontDM;
  font-size: toRem(16);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(26);
}

.pricing__list {
  display: inline-flex;
  flex-direction: column;
  margin-right: 80px;
  gap: 15px 0;
  margin-bottom: 76px;
}

.pricing__item {
  display: inline-flex;
  gap: 0 12px;
  img {
    object-fit: contain;
  }
  h3 {
    color: $textHeading;
    font-size: toRem(22);
    font-style: normal;
    font-weight: 400;
    line-height: toRem(32);
    letter-spacing: -1px;
  }
}

.pricing__footer {
  width: 100%;
  font-size: toRem(15);
  font-style: normal;
  font-weight: 500;
  line-height: toRem(24);
  letter-spacing: -0.3px;
  padding: 17px 0;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
