@function toRem($value) {
  $remValue: ($value / 16) * 1rem;
  @return $remValue;
}

.review {
  padding-top: 113px;
  width: 100%;
  font-family: $fontPrimary;
  background-color: $bgColor;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 120px;
  text-align: center;
}

.review__shape {
  position: absolute;
  top: 74%;
  left: 15%;
  z-index: 1;
}

.review__head {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 30px 0;
  margin-bottom: 80px;
}

.review__title {
  color: $textHeading;
  text-align: center;
  font-size: toRem(48);
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -2px;
}

.review__subtitle {
  color: $textText;
  text-align: center;
  font-size: toRem(22);
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
}

.review__cards {
  justify-content:center;
  gap: 30px; 
  position: relative;
  z-index: 3;
}

.review__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 370px;
  max-height: 350px;
  border-radius: 20px;
  background: #fff;
  padding: 35px 35px 45px 35px;
}

.review__user {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 5px 0;
  margin-bottom: 20px;
}

.review__name {
  color: $textHeading;
  text-align: center;
  font-size: toRem(22);
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
}

.review__major {
  color: $textText;
  text-align: center;
  font-family: $fontDM;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.review__star {
  margin-bottom: 30px;
}

.review__content {
  max-width: 300px;
  max-height: 77px;
  color: $textText;
  text-align: center;
  font-family: $fontDM;
  font-size: toRem(18);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
}
