@function toRem($value) {
  $remValue: ($value / 16) * 1rem;
  @return $remValue;
}

.service {
  font-family: $fontPrimary;
  background-color: #fff;
}

.service__container {
  --grid-container-width: 1240px;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  text-align: center;
}

.service__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.service__content-title {
  color: $textHeading;
  text-align: center;
  font-size: toRem(48);
  font-style: normal;
  font-weight: 500;
  line-height: toRem(56);
  letter-spacing: -2px;
  max-width: 970px;
  z-index: 3;
}
.service__content-subtitle {
  color: $textText;
  text-align: center;
  font-family: $fontDM;
  font-size: toRem(18);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(28);
  letter-spacing: -0.3px;
  max-width: 970px;
  height: auto;
}

.service__card {
  margin-top: 80px;
  flex-shrink: 0;
  gap: 30px;
  justify-content: center;
  position: relative;
}

.service__card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 370px;
  height: 330px;
  border: 1px solid $linesGrayLine;
  &:hover {
    box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
    cursor: pointer;
  }
}

.service__card-img {
  width: 90px;
  height: 90px;
}

.service__card-title {
  color: $primaryBlacked;
  text-align: center;
  font-size: toRem(22);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(32);
  letter-spacing: -1px;
  margin-top: 38px;
}

.service__card-subtitle {
  margin-top: 20px;
  width: 270px;
  height: auto;
  color: $textText;
  text-align: center;
  font-family: $fontDM;
  font-size: toRem(16);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(26);
}

.service__button {
  margin-top: 70px;
  margin-bottom: 120px;
  display: inline-flex;
  padding: 18px 32px;
  font-size: toRem(15);
  line-height: toRem(24);
  letter-spacing: -0.3px;
}

.service__shape {
  position: absolute;
  right: -70px;
  bottom: 0;
}
