<div {% render 'section-attr' %}>
  {% render 'section-bg-image' %}
  <xo-container>
    {% render 'section-heading', title: section.settings.heading_title, description: section.settings.heading_description, align: section.settings.heading_align %}

    {% render 'space', value: '2rem' %}
    <xo-carousel
      xo-per-view='{{ section.settings.columns_desktop }}'
      xo-breakpoints="
        {
          600: {
            gap: 10,
            perView: '{{ section.settings.columns_mobile }}'
          },
          992: {
            perView: '{{ section.settings.columns_desktop | minus: 1  }}'
          }
        }
      "
    >
      <xo-carousel-inner>
        <xo-carousel-list>
          {%- for product in section.settings.collection.products limit: section.settings.limit -%}
            {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
            {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}
            <xo-carousel-slide>
              {%
                render 'product-card',
                product: product,
                show_image: section.settings.product_card_show_image,
                show_secondary_image: section.settings.product_card_show_secondary_image,
                show_vendor: section.settings.product_card_show_vendor,
                show_description: section.settings.product_card_show_description,
                show_quick_add: section.settings.product_card_show_quick_add,
                show_quick_view: section.settings.product_card_show_quick_view,
                show_price: section.settings.product_card_show_price,
                show_badge: section.settings.product_card_show_badge,
                media_aspect_ratio: section.settings.product_card_aspect_ratio,
                placeholder_image: placeholder_image,
              %}
            </xo-carousel-slide>
          {%- endfor -%}
        </xo-carousel-list>
      </xo-carousel-inner>
      {%
        render 'carousel_navigation',
        style: section.settings.carousel_nav_style,
        align: section.settings.carousel_nav_align,
        icon_name: section.settings.carousel_nav_icon,
        position: section.settings.carousel_nav_position,
        disabled: section.settings.carousel_nav_disabled,
        mobile_disabled: section.settings.carousel_nav_mobile_disabled,
      %}
      {%
        render 'carousel_pagination',
        style: section.settings.carousel_pag_style,
        align: section.settings.carousel_pag_align,
        disabled: section.settings.carousel_pag_disabled,
        mobile_disabled: section.settings.carousel_pag_mobile_disabled,
      %}

    </xo-carousel>
    {% render 'space', value: '2rem' %}
  </xo-container>
</div>
