{{ 'section-main-password-footer.css' | asset_url | stylesheet_tag }}

<div {% render 'section-attr' %}>
  <div class='password-footer'>
    <p>{{ section.settings.have_own_store }}</p>
    {% assign text = section.settings.login_here %}
    {% assign link = section.settings.login_here_lin %}
    {% render 'button', text: text, link: routes.account_login_url, size: 'md', style: 'link' %}
  </div>
</div>
