.password-footer {
  width: 100%;
  height: 73px;
  background: color(background);
  color: color(foreground);
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-footer p {
  display: inline-block;
  margin: 0;
  margin-inline-end: 6px;
}

.password-footer a {
  color: color(foreground);
}

@media screen and (max-width: 768px) {
  .password-footer {
    height: 56px;
    font-size: 16px;
  }
}
