$fontPrimary: "Outfit", sans-serif;
$fontDM: "DM Sans", sans-serif;
$textHeading: #2d3958;
$actionBlue: #4f77ff;
$bgDarkBg: #292f32;
$actionGreen: #34c635;
$actionPurple: #886cff;
$textText: #7b88a8;
$bgColor: #f7f5f1;
$bgbgLight: #f8fafc;
$bgFooter: #292f3a;
$primaryBlacked: #120f1f;
$linesGrayLine: #e7e5ea;
$bgPurpleGradient: linear-gradient(186deg, #61dcdf 0.38%, #886cff 100%);
